################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/WebApi/obj
/WebApi/.vs/WebApi
/WebApi/WebApi/bin/Debug/net8.0
/.vs
/bankapp/src/assets/video/money.mp4
/WebApi/.vs/ProjectEvaluation
